RARE26-train-data/
data/

results/

*.zip

*.ckpt
*.pt
*.pth
output/

models/

RARE25-Submission/

.env
*.env
credentials.json

.DS_Store

__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.venv/
venv/

*temporary
*.npz
*.npy

papers/
